* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #111;
}

.topbar__inner,
.colorDots__inner,
.content__inner {
  /* width: min(1100px, 100%); */
  margin: 0 auto;
  padding: 0 18px;
  width: 100%;
}

/* ---------- Breakpoints ---------- */
/* @media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .grid {
    grid-template-columns: 1fr;
  }
} */

.app {
  position: relative;
  min-height: 100vh;
  isolation: isolate;
}

.app::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  /* transition: background 350ms ease; */
}

.app--red::before {
  background: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.75) 0%,
    rgba(255, 0, 0, 0) 66%,
    rgba(255, 0, 0, 0) 100%
  );
}

.app--orange::before {
  background: linear-gradient(
    to top,
    rgba(255, 140, 0, 0.75) 0%,
    rgba(255, 140, 0, 0) 66%,
    rgba(255, 140, 0, 0) 100%
  );
}

.app--yellow::before {
  background: linear-gradient(
    to top,
    rgba(255, 215, 0, 0.75) 0%,
    rgba(255, 215, 0, 0) 66%,
    rgba(255, 215, 0, 0) 100%
  );
}

.app--green::before {
  background: linear-gradient(
    to top,
    rgba(1, 201, 74, 0.75) 0%,
    rgba(0, 170, 90, 0) 66%,
    rgba(0, 170, 90, 0) 100%
  );
}

.app--blue::before {
  background: linear-gradient(
    to top,
    rgba(0, 120, 255, 0.75) 0%,
    rgba(0, 120, 255, 0) 66%,
    rgba(0, 120, 255, 0) 100%
  );
}

.app--purple::before {
  background: linear-gradient(
    to top,
    rgba(140, 60, 255, 0.75) 0%,
    rgba(140, 60, 255, 0) 66%,
    rgba(140, 60, 255, 0) 100%
  );
}

/* Neutral/default */
.app--all::before {
  background: none;
}

@media (max-width: 520px) {
  .colorDots__inner {
    gap: 14px;
    padding: 0 12px;
  }
}
