.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  overflow: hidden;
  background: #fff;
  display: block;
  position: relative;
}
img.cardPlaceholder {
  /* aspect-ratio: 1 / 1; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__close-btn {
  border: none;
  background-color: transparent;
  color: rgb(155, 155, 155);
  padding: 0;
  position: absolute;
  right: 9px;
  top: 2px;
}

.card__close-btn:hover {
  color: #ffffff;
}
