.footer {
  margin-top: auto;
  background: transparent;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.footer__text {
  flex-direction: flex-start;
  padding-left: 20px;
}

.footer__text-right {
  margin-left: auto;
  padding-right: 20px;
}
